/* ==|====================
   Layout/Main
   ======================= */

// Tipografía
h1, h2, h3, h4, h5, h6, .Heading {
  font-family: $basker!important;
}

main {
  width: 100%; height: auto; position: relative; padding-top: 0!important; margin: 0;
}
article {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
  &.bg-gen {
    margin-top: 60px;
  }
}
.descGen {
  width: 100%; height: auto; padding: 0; margin: 0;
  h1, h2, h3, h4, h5, h6 {
    margin: 0; position: relative; text-align: center;
  }
  .title_page {
    margin-bottom: 20px;
  }
  p { text-align: center; margin: 0 0 0 0; }
}
.titleGen {
  width: 100%; height: auto; padding: 20px 25px; margin: 0;
  h1, h2, h3, h4, h5, h6 {
    margin: 0; position: relative; display: inline-block;
    span {
      white-space: nowrap; @include position(absolute, 20px null null 40%); color: rgba($black, 0.25); z-index: -1; font-size: rem(40px);
    }
  }
}

// Nanigation
.Header {
  &__LinkSpacer {
    &:after {
      border-bottom: 2px solid $col1!important;
    }
  }
}
.IconCart {
  position: relative;
  &__count {
    @include position(absolute, -6px -6px null null); background-color: var(--button-background); color: $white; width: 15px; height: 15px; text-align: center; line-height: 15px; border: none; font-size: 10px; border-radius: 50%;
  }
  &__cart {
    & .Icon {
      width: 23px; height: 23px;
    }
  }
}

// Sections
.PaddingSection {
  padding-top: 50px;
  @media all and (min-width: 1008px) {
    padding-top: 80px;
  }
}
.textGeneric {
  text-align: justify!important;
}

// Footer Generic
.listFooter {
  width: 100%; height: auto; padding: 0; margin: 0; list-style-type: none;
  & h4 {
    @include fluid-type(16px, 22px, 320px, 1200px); margin: 0 0 10px; padding: 0; text-transform: uppercase; text-align: center;
  }
  &__itemFoot {
    width: 165px; list-style-type: none; padding: 0; margin: 0;
  }
  &__box {
    width: 100%; height: auto; margin: 0; padding: 0; @include box-sizing(border-box);
    &--brand {
      text-align: center;
      a {
        display: block; width: 100%; max-width: 140px; height: auto; margin: 0 auto 15px; padding: 0 0;
        img {
          display: block; width: 100%; height: auto; margin: 0; padding: 0; object-fit: contain; font-family: "object-fit: contain";
        }
        .site-title {
          font-size: 0; text-indent: -9999px; color: $white; opacity: 0; margin: 0; padding: 0;
        }
      }
      @media all and (min-width: 769px) {
        margin: 0 auto 0;
      }
    }
  }
  @media all and (min-width: 769px) {
    & h4 {
      text-align: left;
    }
  }
}
.Footer {
  &__Block {
    &--image {
    }
  }
  @media all and (min-width: 1140px) {
    &__Block {
      &--image {
        flex-basis: 350px;
      }
    }
  }
}

// Tools
.ArticleToolbar  {
  box-shadow: 10px 5px 5px rgba($black, 0.20); background: rgba($white, 0.80)!important;
}
.shopify-policy__container {
  & .rte {
    text-align: justify;
  }
}