// ----------------------
// == Site settings
// ----------------------

// Routes
$imgR: '../img/';
$fontR: '../fonts/';

// = Fonts
// ----------------------------
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
// @include font-face("dmedium", "#{$fontR}decimal/Decimal-Medium", $file-formats: eot svg ttf woff2 woff);
// @include font-face("dbook", "#{$fontR}decimal/Decimal-Book", $file-formats: eot svg ttf woff2 woff);
// @include font-face("dblack", "#{$fontR}decimal/Decimal-Black", $file-formats: eot svg ttf woff2 woff);
// @include font-face("dbold", "#{$fontR}decimal/Decimal-Bold", $file-formats: eot svg ttf woff2 woff);
// @include font-face("iconsPromo", "#{$fontR}promoicons", $file-formats: eot svg ttf woff);
$basker: 'Libre Baskerville', serif;
// $medium: 'dmedium', sans-serif;
// $book: 'dbook', sans-serif;
// $dblack: 'dblack', sans-serif;
// $bold: 'dbold', sans-serif;
// $icons: 'iconsPromo';

// = Colors
// -----------------------------
$gray-1: #333333;
$gray-2: #191919;
$gray-3: #0e0e0e;
$gray-4: #363636;
$gray-5: #959595;
$gray-6: #ececec;
$gray-7: #787878;
$gray-8: #cdcdcd;
$gray-9: #282e47; 
$gray-10: #f7f8fb;
$gray-11: #f3f4f8;
$col1: #85754e;
$col2: #1d1d1b;
// $col3: #ff6363;
// $col4: #001351;
// $col5: #0e0e2a;
// $col6: #20253c;
// $col7: #b5b8c3;
// $col8: #dad7dc;
// $col9: #566df0;
// $col10: #d70038;
// $col11: #00cd64;
// $col12: #ff9b33;
$white: #ffffff;
$black: #000000;
$facebook: #1877f2;
$twitter: #43bfe1;
$google: #D64131;

$c1: $gray-1;
$c2: $gray-2;
$c3: $gray-3;
$c4: $gray-4;
$c5: $gray-5;
$c6: $gray-6;
$c7: $gray-7;
$c8: $gray-8;
$c9: $gray-9;
$c10: $gray-10;
$c11: $gray-11;

// Display Flex
@mixin displayFlex($disp, $direc, $justify, $items, $wrp) {
  @include display($disp); @include flex-direction($direc); @include justify-content($justify); @include align-items($items); @include flex-wrap($wrp);
}

// Extend Clases
.overlayClass {
  width: 100%; height: 100%; @include position(fixed, 0 null null 0); margin: 0; padding: 0;
}
.overlayClassAbs {
  width: 100%; height: 100%; @include position(absolute, 0 null null 0); margin: 0; padding: 0;
}
.absImg {
  @include position(absolute, 50% null null 50%); @include transform(translate(-50%, -50%));
}

// Font Responsive Mixin
@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {
  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}

// Mixin Keyframes Button
@include keyframes(button) {
  0% {
    opacity: 0;
    @include transform(translate(-50px, 0px) skewX(-50deg)); width: 10%;
  }
  50% {
    opacity: 1;
    @include transform(translate(0, 0px) skewX(-50deg)); width: 100%;
  }
  100% {
    opacity: 0;
    @include transform(translate(300%, 0px) skewX(-50deg)); width: 50%;
  }
}

@include keyframes(fadeInUpSD) {
  0% {
    opacity: 0; @include transform(translate(-50%, 100px));
  }

  100% {
    opacity: 1; @include transform(translate(-50%, -50%));
  }
}